*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $ff-exo;
  font-style: normal;
  font-weight: 400;
  color: $color-nero;
  margin: 0;
  padding: 0;
  background-color: $color-ghost-white;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

a {
  color: $color-nero;
  text-decoration: none;
}
