.breadcrumbs {
  padding: 15px 0 0;
  margin: 0 0 30px 0;

  @include vp-767 {
    padding: 10px 0 0;
    margin: 0 0 20px 0;
  }

  &__list {
    display: flex;
    gap: 24px;

    margin: 0;
    padding: 0;
    list-style: none;

    @include vp-767 {
      gap: 14px;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    display: block;
    font-size: 14px;
    line-height: 18px;
    position: relative;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__link--active {
    color: $color-nobel;
  }

  &__link:not(.breadcrumbs__link--active)::after  {
    content: "";
    width: 3px;
    height: 3px;
    background-color:  $color-nobel;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -14px;

    @include vp-767 {
      right: -8px;
    }
  }
}
