.gallery-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0;

  &__img--size-xs {
    width: 240px;
    height: 240px;
  }

  &__img--size-s {
    width: 240px;
    height: 315px;
  }

  &__img--size-m {
    width: 365px;
    height: 300px;
  }

  &__img--size-l {
    width: 366px;
    height: 410px;
  }

  &__img--size-xl {
    width: 365px;
    height: 490px;
  }

  &__img--size-xxl {
    width: 500px;
    height: 300px;
  }

  &__img {
    flex-shrink: 0;
    border-radius: 8px;

    @include vp-1023 {
      width: 100%;
      height: 100%;
    }

    @include vp-767 {
      width: 335px;
      height: 240px;
    }
  }

  &__caption {
    color: $color-nero-50;
    text-align: right;
    font-size: 13px;
    line-height: 16px;
    margin: 0;

    @include vp-767 {
      font-size: 12px;
    }
  }
}
