.gallery {
  margin: 0 0 40px;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    grid-template-columns: 365px auto 1fr 240px;
    gap: 20px;
  }

  &__item--grid-1 {
    grid-column: 1 / 3;
  }

  &__item--grid-2 {
    grid-column: 3 / 5;
  }

  &__item--grid-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  &__item--grid-4 {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  &__item--grid-5 {
    grid-column: 4 / 5;
    grid-row: 2;
  }

  &__item--grid-6 {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
  }

  &__item--grid-7 {
    grid-column: 2 / 5;
    grid-row: 3 / 6;
  }

  &__item--grid-8 {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
  }

  &__item--grid-9 {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
  }
}
