.header {
  background: linear-gradient(180deg, #6e48db 0%, #9e5fc4 100%);

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__nav-link {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: $color-white;
  }

  &__content {
    display: grid;
    grid-template-columns: 330px 1fr 200px 100px;
    align-items: center;
    gap: 30px;
    padding: 15px 0;
  }

  &__logo-link {
    width: 140px;
    height: 40px;
    margin: 0 auto;

    svg {
      width: 140px;
      height: 40px;
      flex-shrink: 0;
    }
  }

  &__btn-wrapper {
    display: flex;
    gap: 20px;
  }

  &__burger,
  &__favorites {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__favorites-icon {
    width: 22px;
    height: 20px;
    color: $color-white;
  }

  &__burger-icon {
    width: 36px;
    height: 14px;
    color: $color-white;
  }

  &__location {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  &__location-icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }

  &__location-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    color: $color-white;
  }

  &__location-btn {
    color: $color-white;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
  }
}
