.menu-tours {
  min-height: 451px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: $color-white;
  padding: 25px;

  @include vp-1023 {
    min-height: 390px;
    border-radius: 12px;
    padding: 20px;
  }

  @include vp-767 {
    width: 100%;
    padding: 0;
    min-height: unset;
    border-radius: unset;
    background-color: transparent;
  }

  &__btn-mobile {
    display: none;
    width: 100%;

    @include vp-767 {
      display: block;
    }
  }

  &__list {
    padding: 0;
    list-style: none;

    display: grid;
    gap: 15px;
    margin: 0 0 25px;

    @include vp-1023 {
      gap: 10px;
      margin: 0 0 20px;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__link {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-deep-lilac;
    }

    &--active {
      color: $color-deep-lilac;
  
      .menu-tours__link-text {
        font-weight: 700;
      }
    }

    & svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    &--all {
      color: $color-deep-lilac;
      font-weight: 700;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;

      @include vp-1023 {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  &__btn {
    width: 100%;

    @include vp-1023 {
      padding: 11px;
      font-size: 12px;
      line-height: 16px;
    }

    @include vp-767 {
      display: none;
    }

    &-mobile {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12px;
      line-height: 16px;
    }
  }
}