.menu-tours {
  min-height: 451px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: $color-white;
  padding: 25px;

  &__btn-mobile {
    display: none;
    width: 100%;
  }

  &__list {
    padding: 0;
    list-style: none;

    display: grid;
    gap: 15px;
    margin: 0 0 25px;
  }

  &__link {
    background-color: transparent;
    padding: 0;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-deep-lilac;
    }

    &--active {
      color: $color-deep-lilac;
  
      .menu-tours__link-text {
        font-weight: 700;
      }
    }

    & svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }

    &--all {
      color: $color-deep-lilac;
      font-weight: 700;
    }

    &-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
  }

  &__btn {
    width: 100%;
  }
}